
# IDEs
.idea/*

apply.cmd
main.tf
terraform-provider-dynatrace
terraform-provider-dynatrace.exe
terraform-provider-dynatrace.log
download.cmd
build/*
playground/*
build/*
configuration/*
configuration_playground/*
export.cmd
export.sh
tf2json.cmd
configuration-*/*
terraform-provider-dynatrace.http.log
terraform-provider-dynatrace.tests.log
.cache/*
test.json
test.log
*.log
*.cmd
*.sh
.vscode/*
.DS_Store
.env
__debug_bin*
