---
layout: ""
page_title: "dynatrace_alerting_profile Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_alerting_profile` covers configuration for alerting profiles
---

# dynatrace_alerting_profile (Resource)

-> This resource API endpoint has been deprecated, please use [dynatrace_alerting](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/alerting) instead.

## Dynatrace Documentation

- Alerting profiles - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/notifications-and-alerting/alerting-profiles

- Alerting profiles API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/alerting-profiles-api

## Resource Example Usage

{{ tffile "test_data/alerting_profiles/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
