---
layout: ""
page_title: "dynatrace_alerting Resource - terraform-provider-dynatrace"
subcategory: "Alerting"
description: |-
  The resource `dynatrace_alerting` covers configuration for alerting profiles
---

# dynatrace_alerting (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Alerting profiles - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/notifications-and-alerting/alerting-profiles

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:alerting.profile`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_alerting` downloads all existing alerting profiles configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/alerting/profile/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
