---
layout: ""
page_title: "Provider: Dynatrace"
description: |-
  The Dynatrace Terraform Provider provides resources to interact with the Dynatrace Config REST API.
---

# Anomaly Detection

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer felis nunc, suscipit ut turpis et, eleifend iaculis nisi. Sed tempor maximus ante, at ullamcorper risus rutrum pellentesque. Morbi ac suscipit lorem. Phasellus maximus et augue a euismod. Morbi euismod, ipsum a consequat cursus, sem ipsum posuere purus, ut mollis erat ante vel diam. Mauris scelerisque laoreet elit, sed aliquam lorem vehicula gravida. Aenean condimentum elit quis commodo semper. Curabitur aliquet, orci sed auctor sodales, massa dui lacinia tortor, vel accumsan massa arcu id dui. Suspendisse mollis porttitor velit, ac lacinia ante ultrices quis. Fusce ut nunc est. Sed condimentum rhoncus ex ornare laoreet. Aliquam et dolor urna. In hac habitasse platea dictumst.

## Example

{{tffile "templates/resources/anomalies/services.tf"}}

{{ .SchemaMarkdown | trimspace }}

