---
layout: ""
page_title: "dynatrace_api_token Resource - terraform-provider-dynatrace"
subcategory: "Access Tokens"
description: |-
  The resource `dynatrace_api_token` covers configuration for API tokens
---

# dynatrace_api_token (Resource)

-> The usage of `dynatrace_api_token` will introduce sensitive data within your Terraform state. The `token` property is flagged as `sensitive`, but the field will be stored as plain-text. More information can be found [here](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

-> The token value can be retrieved with `dynatrace_api_token.<#name#>.token` after apply.

-> This resource requires the API token scopes **Read API tokens** (`apiTokens.read`) and **Write API tokens** (`apiTokens.write`)

## Dynatrace Documentation

- Dynatrace API Tokens and authentication - https://www.dynatrace.com/support/help/dynatrace-api/basics/dynatrace-api-authentication

- Tokens API v2 - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/tokens-v2

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_api_token` downloads all existing API token configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v2/apitokens/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 