---
layout: ""
page_title: dynatrace_application_error_rules Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_application_error_rules` covers configuration for application error rules
---

# dynatrace_application_error_rules (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Configure web application errors - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/configure-errors

- Web application configuration API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/rum/web-application-configuration-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_application_error_rules` downloads all existing application error rule configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

{{ .SchemaMarkdown | trimspace }}
 