---
layout: ""
page_title: "dynatrace_application_data_privacy Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_application_data_privacy` covers configuration for application data privacy
---

# dynatrace_application_data_privacy (Resource)

-> Certain field(s) of this resource has overlap with `dynatrace_session_replay_web_privacy`, please review the schema for additional information.

## Dynatrace Documentation

- Configure data privacy settings for web applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/configure-real-user-monitoring-according-to-gdpr

- Web application configuration API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/rum/web-application-configuration-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_application_data_privacy` downloads all existing application data privacy configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

{{ .SchemaMarkdown | trimspace }}
 