---
layout: ""
page_title: "dynatrace_application_detection_rule Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_application_detection_rule` covers configuration for application detection rules
---

# dynatrace_application_detection_rule (Resource)

## Dynatrace Documentation

- Check application detection rules - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/application-detection-rules

- Applications detection rules API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/rum/application-detection-configuration

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_application_detection_rule` downloads all existing application detection rule configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

{{ .SchemaMarkdown | trimspace }}
 