---
layout: ""
page_title: dynatrace_attack_allowlist Resource - terraform-provider-dynatrace"
subcategory: "Application Security"
description: |-
  The resource `dynatrace_attack_allowlist` covers configuration for application protection: allowlist
---

# dynatrace_attack_allowlist (Resource)

-> This resource requires the API token scopes **Read attacks** (`attacks.read`) and **Write attacks** (`attacks.write`)

## Dynatrace Documentation

- Runtime Application Protection - https://www.dynatrace.com/support/help/platform-modules/application-security/application-protection

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:appsec.attack-protection-allowlist-config`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_attack_allowlist` downloads all existing application protection: allowlist configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/appsec/attackprotectionallowlistconfig/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 