---
layout: ""
page_title: dynatrace_attack_alerting Resource - terraform-provider-dynatrace"
subcategory: "Application Security"
description: |-
  The resource `dynatrace_attack_alerting` covers configuration for attack alerting profiles
---

# dynatrace_attack_alerting (Resource)

-> This resource is excluded by default in the export utility since it requires the feature to be activated, please explicitly specify the resource to retrieve existing configuration.

-> This resource requires the API token scopes **Read security problems** (`securityProblems.read`) and **Write security problems** (`securityProblems.write`)

## Dynatrace Documentation

- Runtime Application Protection - https://www.dynatrace.com/support/help/platform-modules/application-security/application-protection

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:appsec.notification-attack-alerting-profile`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_attack_alerting` downloads all existing attack alerting profiles

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/appsec/notificationattackalertingprofile/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 