---
layout: ""
page_title: dynatrace_attribute_block_list Resource - terraform-provider-dynatrace"
subcategory: "OpenTelemetry & OpenTracing"
description: |-
  The resource `dynatrace_attribute_block_list` covers configuration for OpenTracing and OpenTelemetry attribute block-list
---

# dynatrace_attribute_block_list (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Span settings - https://www.dynatrace.com/support/help/extend-dynatrace/extend-tracing/span-settings

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:attribute-block-list`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_attribute_block_list` downloads all existing attribute block-list configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/attribute/blocklist/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 