---
layout: ""
page_title: dynatrace_attributes_preferences Resource - terraform-provider-dynatrace"
subcategory: "OpenTelemetry & OpenTracing"
description: |-
  The resource `dynatrace_attributes_preferences` covers configuration for OpenTracing and OpenTelemetry attribute preferences
---

# dynatrace_attributes_preferences (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Span settings - https://www.dynatrace.com/support/help/extend-dynatrace/extend-tracing/span-settings

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:attributes-preferences`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_attributes_preferences` downloads existing attribute preference configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/attribute/preferences/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 