---
layout: ""
page_title: dynatrace_autotag Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_autotag` covers configuration for autotags
---

# dynatrace_autotag (Resource)

!> This resource is utilizing an older API endpoint, please use [dynatrace_autotag_v2](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/autotag_v2) instead.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Define and apply tags - https://www.dynatrace.com/support/help/how-to-use-dynatrace/tags-and-metadata/setup/how-to-define-tags

- Automatically applied tags API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/automatically-applied-tags-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_autotag` downloads all existing autotag configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/autotags/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 