---
layout: ""
page_title: "dynatrace_automation_scheduling_rule Resource - terraform-provider-dynatrace"
subcategory: "Automation"
description: |-
  The resource `dynatrace_automation_scheduling_rule` covers configuration of Scheduling Rules for Workflows
---

# dynatrace_automation_scheduling_rule (Resource)

-> This resource is excluded by default in the export utility. You can, of course, specify that resource explicitly in order to export it. In that case, don't forget to specify the environment variables `DYNATRACE_AUTOMATION_CLIENT_ID` and `DYNATRACE_AUTOMATION_CLIENT_SECRET` for authentication.

## Dynatrace Documentation

- Dynatrace Workflows - https://www.dynatrace.com/support/help/platform-modules/cloud-automation/workflows

## Prerequisites

Using this resource requires an OAuth client to be configured within your account settings.
The scopes of the OAuth Client need to include `View rules (automation:rules:read)` and `Create and edit rules (automation:rules:write)`.

Finally the provider configuration requires the credentials for that OAuth Client.
The configuration section of your provider needs to look like this.
```terraform
provider "dynatrace" {
  dt_env_url   = "https://########.live.dynatrace.com/"  
  dt_api_token = "######.########################.################################################################"  

  # Usually not required. Terraform will deduct it if `dt_env_url` has been specified
  # automation_env_url = "https://########.apps.dynatrace.com/" 
  automation_client_id = "######.########"
  automation_client_secret = "######.########.################################################################"  
}
```
-> In order to handle credentials in a secure manner we recommend to use the environment variables `DYNATRACE_AUTOMATION_CLIENT_ID` and `DYNATRACE_AUTOMATION_CLIENT_SECRET` as an alternative.

## Resource Examples

### Recurrence Rule

{{ tffile "dynatrace/api/automation/scheduling_rules/testdata/terraform/recurrence.tf" }}

### Fixed Offset Rule

{{ tffile "dynatrace/api/automation/scheduling_rules/testdata/terraform/fixed-offset-rule.tf" }}

### Relative Offset rule

{{ tffile "dynatrace/api/automation/scheduling_rules/testdata/terraform/conditional-offset-rule.tf" }}


### Grouping Rule

{{ tffile "dynatrace/api/automation/scheduling_rules/testdata/terraform/grouping-rule.tf" }}


{{ .SchemaMarkdown | trimspace }}
