---
layout: ""
page_title: "dynatrace_autotag_v2 Resource - terraform-provider-dynatrace"
subcategory: "Tags"
description: |-
  The resource `dynatrace_autotag_v2` covers configuration for automatically applied tags
---

# dynatrace_autotag_v2 (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Define and apply tags - https://www.dynatrace.com/support/help/how-to-use-dynatrace/tags-and-metadata/setup/how-to-define-tags

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:tags.auto-tagging`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_autotag_v2` downloads all existing automatically applied tags

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

```terraform
# Sample for how to configure Auto Tag Rules using an Entity Selector
resource "dynatrace_autotag_v2" "GKESample" {
  name = "GKE-Hosts"
  rules {
    rule {
      type                = "SELECTOR"
      enabled             = true
      entity_selector     = "type(host),entityName.startsWith(\"gke\")"
      value_format        = "true"
      value_normalization = "Leave text as-is"
    }
  }
}
```

{{ tffile "dynatrace/api/builtin/tags/autotagging/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 