---
layout: ""
page_title: "dynatrace_aws_connection_role_arn Resource - terraform-provider-dynatrace"
subcategory: "Connections"
description: |-
  The resource `dynatrace_aws_connection_role_arn` covers configuration for AWS connections
---

# dynatrace_aws_connection_role_arn (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

-> This resource requires the OAuth scopes **Read settings** (`settings:objects:read`) and **Write settings** (`settings:objects:write`)

## Requirements
This resource must be used in combination with the `dynatrace_aws_connection` resource.
Ensure you configure both resources together for a valid AWS connection.
An example of how to set up both resources can be found in the [Resource Example Usage](#resource-example-usage) section below.

## Limitations
If you are creating the `dynatrace_aws_connection_role_arn` and the `aws_iam_role` it is referencing in the same invocation
of `terraform apply`, be aware that due to eventual consistency in AWS, the creation of the `aws_iam_role` might not be fully propagated
when the `dynatrace_aws_connection_role_arn` resource is being created. To mitigate this, we retry the creation of the `dynatrace_aws_connection_role_arn` resource
with a default timeout of 2 minutes.
This is also the timeout used by [terraform-provider-aws](https://github.com/hashicorp/terraform-provider-aws/blob/546cd5a106a10516fcb8465459f2abd1b37b6036/internal/service/iam/consts.go#L16) when waiting for IAM changes to propagate.
If you desire a different timeout, you can adjust it using the `timeouts` block in the `dynatrace_aws_connection_role_arn` resource as shown in the example below.

The following is an example of the error you might encounter due to this limitation:
```
Unable to assume role with web identity. (AccessDenied) Not authorized to perform sts:AssumeRoleWithWebIdentity (Service: Sts, Status Code: 403, Request ID: 00000000-1111-2222-3333-555555555555) (SDK Attempt Count: 1), RequestId 00000000-1111-2222-3333-555555555555
```

~> **Warning** If a resource is created using an API token or without setting `DYNATRACE_HTTP_OAUTH_PREFERENCE=true` (when both are used), the settings object's owner will remain empty.

An empty owner implies:
- The settings object becomes public, allowing other users with settings permissions to read and modify it.
- Changing the settings object's permissions will have no effect, meaning the `dynatrace_settings_permissions` resource can't alter its access.

When a settings object is created using platform credentials:
- The owner is set to the owner of the OAuth client or platform token.
- By default, the settings object is private; only the owner can read and modify it.
- Access modifiers can be managed using the `dynatrace_settings_permissions` resource.

We recommend using platform credentials to ensure a correct setup.
In case an API token is needed, we recommend setting `DYNATRACE_HTTP_OAUTH_PREFERENCE=true`.

## Dynatrace Documentation

- AWS Connector - https://docs.dynatrace.com/docs/analyze-explore-automate/workflows/actions/aws

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:hyperscaler-authentication.connections.aws`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_aws_connection_role_arn` downloads all existing AWS connections.

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/hyperscalerauthentication/connections/aws/testdata/terraform/example_webidentity.tf" }}

{{ .SchemaMarkdown | trimspace }}
