---
layout: ""
page_title: dynatrace_aws_service Resource - terraform-provider-dynatrace"
subcategory: "Credentials"
description: |-
  The resource `dynatrace_aws_service` covers configuration of Supported Services for AWS credentials
---

# dynatrace_aws_service (Resource)

-> This resource is excluded by default in the export utility.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Amazon Web Services - https://www.dynatrace.com/support/help/setup-and-configuration/setup-on-cloud-platforms/amazon-web-services/amazon-web-services-integrations/aws-service-metrics

- AWS credentials API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/aws-credentials-api

## Resource Example Usage

This example utilizes the data source `dynatrace_aws_supported_services` in order to query for a full list of all supported services.
The `for_each` loop within the resource `dynatrace_aws_service` configures each of these services to get utilized with the default metrics recommended by Dynatrace (`use_recommended_metrics`).

If you want to configure a different set of metrics for a specific service, a separate resource `dynatrace_aws_service` will be necessary for that. That allows you to configure the `metric` blocks according to your wishes.
Just be aware of the fact, that Dynatrace enforces for most services a recommended set of metrics. All of them need to be part of your configuration in order to end up with a non-empty plan.

```terraform
resource "dynatrace_aws_service" "TERRAFORM_SAMPLE" {
  label          = "TERRAFORM-TEST-001"
  partition_type = "AWS_DEFAULT"
  tagged_only    = false
  authentication_data {
    account_id = "246186168471"
    iam_role   = "Dynatrace_monitoring_role_demo1"
  }
}

data "dynatrace_aws_supported_services" "supported_services" {    
}

resource "dynatrace_aws_service" "TERRAFORM_SAMPLE_services" {
  for_each = data.dynatrace_aws_supported_services.supported_services.services
  credentials_id = dynatrace_aws_service.TERRAFORM_SAMPLE.id
  use_recommended_metrics = true
  name           = each.key
}
```

{{ .SchemaMarkdown | trimspace }}
 