---
layout: ""
page_title: dynatrace_azure_credentials Resource - terraform-provider-dynatrace"
subcategory: "Credentials"
description: |-
  The resource `dynatrace_azure_credentials` covers configuration for Azure credentials
---

# dynatrace_azure_credentials (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Microsoft Azure monitoring - https://www.dynatrace.com/support/help/how-to-use-dynatrace/infrastructure-monitoring/cloud-platform-monitoring/microsoft-azure-services-monitoring

- Azure credentials API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/azure-credentials-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_azure_credentials` downloads all existing Azure credentials configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/credentials/azure/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 