---
layout: ""
page_title: dynatrace_browser_monitor Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_browser_monitor` covers configuration for browser monitors
---

# dynatrace_browser_monitor (Resource)

-> Certain field(s) of this resource has overlap with `dynatrace_browser_monitor_outage`, please review the schema for additional information.

## Dynatrace Documentation

- Synthetic Monitoring - Browser monitors - https://www.dynatrace.com/support/help/shortlink/synthetic-hub#browser-monitors

- Synthetic Monitors API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/synthetic/synthetic-monitors

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_browser_monitor` downloads all existing browser monitor configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/monitors/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 