---
layout: ""
page_title: dynatrace_business_events_metrics Resource - terraform-provider-dynatrace"
subcategory: "Business Events"
description: |-
  The resource `dynatrace_business_events_metrics` covers configuration for business event metric extraction
---

# dynatrace_business_events_metrics (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Business event metric extraction - https://www.dynatrace.com/support/help/platform-modules/business-analytics/ba-metric-extraction

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:bizevents-processing-metrics.rule`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_business_events_metrics` downloads all existing business event metric extractions

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/bizevents/processing/metrics/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 