---
layout: ""
page_title: dynatrace_calculated_synthetic_metric Resource - terraform-provider-dynatrace"
subcategory: "Synthetic"
description: |-
  The resource `dynatrace_calculated_synthetic_metric` covers configuration for calculated synthetic metrics
---

# dynatrace_calculated_synthetic_metric (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Multidimensional analysis for browser monitors - https://www.dynatrace.com/support/help/platform-modules/digital-experience/synthetic-monitoring/analysis-and-alerting/multidimensional-analysis-for-browser-monitors

- Calculated metrics API - Synthetic - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/calculated-metrics/synthetic-metrics

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_calculated_synthetic_metric` downloads all existing calculated synthetic metric configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/metrics/calculated/synthetic/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 