---
layout: ""
page_title: dynatrace_calculated_service_metric Resource - terraform-provider-dynatrace"
subcategory: "Service Monitoring"
description: |-
  The resource `dynatrace_calculated_service_metric` covers configuration for calculated service metrics
---

# dynatrace_calculated_service_metric (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Calculated metrics for services - https://www.dynatrace.com/support/help/how-to-use-dynatrace/services/service-monitoring-settings/calculated-service-metric

- Service metrics API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/calculated-metrics/service-metrics

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_calculated_service_metric` downloads all existing calculated service metric configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/metrics/calculated/service/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 