---
layout: ""
page_title: dynatrace_cloudfoundry_credentials Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_cloudfoundry_credentials` covers configuration for Cloud Foundry credentials
---

# dynatrace_cloudfoundry_credentials (Resource)

!> This resource is utilizing an older API endpoint, please use [dynatrace_cloud_foundry](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/cloud_foundry) instead.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Cloud Foundry monitoring - https://www.dynatrace.com/support/help/how-to-use-dynatrace/infrastructure-monitoring/container-platform-monitoring/cloud-foundry-monitoring

- Cloud Foundry credentials API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/cloud-foundry-foundations-credentials-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_cloudfoundry_credentials` downloads all existing Cloud Foundry credentials configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/credentials/cloudfoundry/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 