---
layout: ""
page_title: dynatrace_credentials Resource - terraform-provider-dynatrace"
subcategory: "Credentials"
description: |-
  The resource `dynatrace_credentials` covers configuration for credentials
---

# dynatrace_credentials (Resource)

-> This resource requires the API token scopes **Read credential vault entries** (`credentialVault.read`) and **Write credential vault entries** (`credentialVault.write`)

## Dynatrace Documentation

- Credential vault for synthetic monitors - https://www.dynatrace.com/support/help/platform-modules/digital-experience/synthetic-monitoring/general-information/credential-vault-for-synthetic-monitors

- Credential vault API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/credential-vault

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_credentials` downloads all existing credentials

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

```
resource "dynatrace_credentials" "name" {
  name     = "name"
  scopes    = ["SYNTHETIC"]
  username = "username"
  password = "password"
}
```

{{ .SchemaMarkdown | trimspace }}
 