---
layout: ""
page_title: "dynatrace_custom_tags Resource - terraform-provider-dynatrace"
subcategory: "Tags"
description: |-
  The resource `dynatrace_custom_tags` covers configuration for custom tags
---

# dynatrace_custom_tags (Resource)

-> This resource requires the API token scopes **Read entities** (`entities.read`) and **Write entities** (`entities.write`)

## Dynatrace Documentation

- Define and apply tags - https://www.dynatrace.com/support/help/shortlink/tagging#manual

- Custom tags API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/custom-tags 

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_custom_tags` downloads all existing custom tags configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/customtags/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}