---
layout: ""
page_title: dynatrace_custom_service Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_custom_service` covers configuration for custom services
---

# dynatrace_custom_service (Resource)

## Dynatrace Documentation

- Define custom services - https://www.dynatrace.com/support/help/how-to-use-dynatrace/services/custom-services

- Custom services API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/service-api/custom-services-api

## Export Example Usage

- `terraform-provider-dynatrace export dynatrace_custom_service` downloads all existing custom service configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs#exporting-existing-configuration-from-a-dynatrace-environment).

## Resource Example Usage

{{ tffile "test_data/custom_services/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 