---
layout: ""
page_title: dynatrace_custom_tags Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_custom_tags` covers configuration for custom tags
---

# dynatrace_custom_tags (Resource)

## Dynatrace Documentation

- Define and apply tags - https://www.dynatrace.com/support/help/shortlink/tagging#manual

- Custom tags API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/custom-tags 

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_custom_tags` downloads all existing custom tags configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/custom_tags/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 