---
layout: ""
page_title: dynatrace_dashboards_presets Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_dashboards_presets` covers configuration for dashboard preset settings
---

# dynatrace_dashboards_presets (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Preset Dynatrace dashboards - https://www.dynatrace.com/support/help/observe-and-explore/dashboards/dashboards/dashboards-preset

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:dashboards.presets`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_dashboards_presets` downloads all existing dashboard preset settings

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/dashboards/presets/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 