---
layout: ""
page_title: dynatrace_dashboard Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_dashboard` covers configuration for dashboards
---

# dynatrace_dashboard (Resource)

!> This resource frequently falls behind due to the constant additions/changes to the dashboard schema, instead it is recommended to use [dynatrace_json_dashboard](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/json_dashboard) which allows to send the full JSON payload.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Dashboards and reports - https://www.dynatrace.com/support/help/how-to-use-dynatrace/dashboards-and-charts

- Dashboards API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/dashboards-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_dashboard` downloads all existing dashboard configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/dashboards/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 