---
layout: ""
page_title: dynatrace_database_anomalies_v2 Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_database_anomalies_v2` covers configuration for database anomaly detection
---

# dynatrace_database_anomalies_v2 (Resource)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for database services - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-services-database

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.databases`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_database_anomalies_v2` downloads all existing database anomaly detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/databases/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 