---
layout: ""
page_title: dynatrace_database_anomalies Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_database_anomalies` covers configuration for database anomaly detection
---

# dynatrace_database_anomalies (Resource)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for database services - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-services-database

- Anomaly detection API - Database services - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/anomaly-detection-api/anomaly-detection-api-database

## Export Example Usage

- `terraform-provider-dynatrace export dynatrace_database_anomalies` downloads all existing database anomaly detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs#exporting-existing-configuration-from-a-dynatrace-environment).

## Resource Example Usage

{{ tffile "test_data/anomalies/databases/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 