---
layout: ""
page_title: dynatrace_davis_anomaly_detectors Resource - terraform-provider-dynatrace"
subcategory: "Anomaly Detection"
description: |-
  The resource `dynatrace_davis_anomaly_detectors` covers configuration for Davis anomaly detectors
---

# dynatrace_davis_anomaly_detectors (Resource)

-> **Dynatrace SaaS only**

-> This resource requires an OAuth client configured with the permissions outlined in the [Davis Anomaly Detection](https://docs.dynatrace.com/docs/shortlink/davis-ai-anomaly-detection-app#expand--prerequisites--1) app documentation. Please set the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID`. 

## Dynatrace Documentation

- Davis Anomaly Detection App - https://docs.dynatrace.com/docs/platform/davis-ai/anomaly-detection/anomaly-detection-app

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:davis.anomaly-detectors`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_davis_anomaly_detectors` downloads all existing Davis anomaly detector configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/davis/anomalydetectors/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 