---
layout: ""
page_title: "dynatrace_ddu_pool Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_ddu_pool` covers configuration for Davis Data Unit Pools
---

# dynatrace_ddu_pool (Resource)


## Dynatrace Documentation

- DDU Pools - https://www.dynatrace.com/support/help/monitoring-consumption/davis-data-units#ddu-pools

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:accounting.ddu.limit`)

## Resource Example Usage

{{ tffile "test_data/consumption/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
