---
layout: ""
page_title: "dynatrace_ddu_pool Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_ddu_pool` covers configuration for Davis Data Unit Pools
---

# dynatrace_ddu_pool (Resource)

!> This resource API endpoint has been deprecated.

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- DDU Pools - https://www.dynatrace.com/support/help/monitoring-consumption/davis-data-units#ddu-pools

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:accounting.ddu.limit`)

## Resource Example Usage

```terraform
resource "dynatrace_ddu_pool" "#name#" {
  metrics {
    enabled = true
    type    = "MONTHLY"
    value   = 123
  }
  log_monitoring {
    enabled = true
    type    = "MONTHLY"
    value   = 124
  }
  events {
    enabled = true
    type    = "MONTHLY"
    value   = 125
  }
  serverless {
    enabled = true
    type    = "MONTHLY"
    value   = 126
  }
  traces {
    enabled = true
    type    = "MONTHLY"
    value   = 127
  }
}
```

{{ .SchemaMarkdown | trimspace }}