---
layout: ""
page_title: dynatrace_devobs_data_masking Resource - terraform-provider-dynatrace"
subcategory: "Developer Observability"
description: |-
  The resource `dynatrace_devobs_data_masking` covers configuration for Developer Observability sensitive data masking
---

# dynatrace_devobs_data_masking (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Developer Observability - https://docs.dynatrace.com/docs/platform-modules/applications-and-microservices/developer-observability

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:devobs.sensitive.data.masking`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_devobs_data_masking` downloads existing Developer Observability sensitive data masking configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/devobs/sensitivedatamasking/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 