---
layout: ""
page_title: " {{.Type}} - {{.ProviderName}}"
subcategory: "Documents"
description: |-
  The resource `{{ .Name }}` covers configuration of direct shares for Documents (dashboards and notebooks) in Dynatrace.
---

# {{ .Name }} ({{.Type}})

-> **Dynatrace SaaS only**

-> To utilize this resource, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permissions: **Read direct-shares** (`document:direct-shares:read`), **Write direct-shares** (`document:direct-shares:write`), and **Delete direct-shares** (`document:direct-shares:delete`).

-> This resource is currently not covered by the export utility.

## Dynatrace Documentation

- Dynatrace Documents - https://########.apps.dynatrace.com/platform/swagger-ui/index.html?urls.primaryName=Document%20Service

## Resource Example Usage

{{ tffile "dynatrace/api/documents/directshares/testdata/terraform/example-a.tf" }}


{{ .SchemaMarkdown | trimspace }}
