---
layout: ""
page_title:  {{.Type}} - {{.ProviderName}}"
subcategory: "Document"
description: |-
  The resource `{{ .Name }}` covers configuration of direct shares for Documents (dashboards and notebooks) in Dynatrace.
---

# {{ .Name }} ({{.Type}})

-> This resource is currently not covered by the export utility.

## Dynatrace Documentation

- Dynatrace Documents - https://########.apps.dynatrace.com/platform/swagger-ui/index.html?urls.primaryName=Document%20Service

## Prerequisites

Using this resource requires an OAuth client to be configured within your account settings.
The scopes of the OAuth Client need to include `Read direct-shares (document:direct-shares:read)`, `Write direct-shares (document:direct-shares:write)`, `Delete direct-shares (document:direct-shares:delete)`.

Finally the provider configuration requires the credentials for that OAuth Client.
The configuration section of your provider needs to look like this.

```terraform
provider "dynatrace" {
  dt_env_url   = "https://########.live.dynatrace.com/"
  dt_api_token = "######.########################.################################################################"

  # Usually not required. Terraform will deduct it if `dt_env_url` has been specified
  # automation_env_url = "https://########.apps.dynatrace.com/"
  automation_client_id = "######.########"
  automation_client_secret = "######.########.################################################################"
}
```

-> In order to handle credentials in a secure manner we recommend to use the environment variables `DYNATRACE_AUTOMATION_CLIENT_ID` and `DYNATRACE_AUTOMATION_CLIENT_SECRET` as an alternative.

## Resource Example Usage

{{ tffile "dynatrace/api/documents/directshares/testdata/terraform/example-a.tf" }}


{{ .SchemaMarkdown | trimspace }}
