---
layout: ""
page_title: dynatrace_disk_anomalies_v2 Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_disk_anomalies_v2` covers configuration for disk anomaly detection
---

# dynatrace_disk_anomalies_v2 (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for infrastructure - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-infastructure

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.infrastructure-disks`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_disk_anomalies_v2` downloads all existing disk anomaly detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/infrastructure/disks/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 