---
layout: ""
page_title: "dynatrace_disk_anomaly_rules Resource - terraform-provider-dynatrace"
subcategory: "Anomaly Detection"
description: |-
  The resource `dynatrace_disk_anomaly_rules` covers configuration for disk anomaly detection rules 
---

# dynatrace_disk_anomaly_rules (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for infrastructure - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-infastructure

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.disk-rules`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_disk_anomaly_rules` downloads all existing disk anomaly detection rules

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/diskrules/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 