---
layout: ""
page_title: dynatrace_disk_specific_anomalies_v2 Resource - terraform-provider-dynatrace"
subcategory: "Anomaly Detection"
description: |-
  The resource `dynatrace_disk_specific_anomalies_v2` covers configuration for disk specific anomaly detection
---

# dynatrace_disk_specific_anomalies_v2 (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for infrastructure - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-infastructure

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.infrastructure-disks.per-disk-override`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_disk_specific_anomalies_v2` downloads all existing disk specific anomaly detection configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/infrastructure/disks/perdiskoverride/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 