---
layout: ""
page_title: dynatrace_environment Resource - terraform-provider-dynatrace"
subcategory: "Cluster Management"
description: |-
  The resource `dynatrace_environment` covers configuration for environments
---

# dynatrace_environment (Resource)

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- Manage your monitoring environments - https://docs.dynatrace.com/managed/managed-cluster/operation/manage-your-monitoring-environments

- Cluster API v2 - Environments - https://www.dynatrace.com/support/help/shortlink/cluster-api#environments

{{ .SchemaMarkdown | trimspace }}
 