---
layout: ""
page_title: dynatrace_environment Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_environment` covers configuration for environments
---

# dynatrace_environment (Resource)

## Dynatrace Documentation

- Manage your monitoring environments - https://www.dynatrace.com/support/help/setup-and-configuration/dynatrace-managed/operation/manage-your-monitoring-environments

- Cluster API v2 - Environments - https://www.dynatrace.com/support/help/shortlink/cluster-api#environments

{{ .SchemaMarkdown | trimspace }}
 