---
layout: ""
page_title: "dynatrace_eula_settings Resource - terraform-provider-dynatrace"
subcategory: "Environment Settings"
description: |-
  The resource `dynatrace_eula_settings` covers configuration for display of the clickwrap agreement
---

# dynatrace_eula_settings (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Display clickwrap agreement to new users - https://www.dynatrace.com/support/help/manage/access-control/user-management-and-sso/clickwrap-agreement

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:eula-settings`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_eula_settings` downloads existing clickwrap agreement configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/eulasettings/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 