---
layout: ""
page_title: "dynatrace_failure_detection_parameters Resource - terraform-provider-dynatrace"
subcategory: "Failure Detection"
description: |-
  The resource `dynatrace_failure_detection_parameters` covers configuration for failure detection parameters
---

# dynatrace_failure_detection_parameters (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Configure service failure detection - https://www.dynatrace.com/support/help/platform-modules/applications-and-microservices/services/service-monitoring-settings/configure-service-failure-detection

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:failure-detection.environment.parameters`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_failure_detection_parameters` downloads all existing failure detection parameters

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/failuredetection/environment/parameters/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 