---
layout: ""
page_title: " {{.Type}} - {{.ProviderName}}"
subcategory: "Service Detection"
description: |-
  The resource `{{ .Name }}` covers configuration for failure detection rule sets
---

# {{ .Name }} ({{.Type}})

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Customize failure detection in Service Detection v2 - https://docs.dynatrace.com/docs/observe/applications-and-microservices/services/service-detection-v2/failure-detection-v2

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:failure-detection-rulesets`)

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/failuredetectionrulesets/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
