---
layout: ""
page_title: "dynatrace_generic_relationships Resource - terraform-provider-dynatrace"
subcategory: "Topology Model"
description: |-
  The resource `dynatrace_generic_relationships` covers configuration for custom topology generic relationships
---

# dynatrace_generic_relationships (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Define custom topology - https://www.dynatrace.com/support/help/extend-dynatrace/extend-topology/custom-topology

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:monitoredentities.generic.relation`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_generic_relationships` downloads all existing custom topology generic relationships configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/monitoredentities/generic/relation/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 