---
layout: ""
page_title: dynatrace_host_process_group_monitoring Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_host_process_group_monitoring` covers configuration of host level process group monitoring rules
---

# dynatrace_host_process_group_monitoring (Resource)

## Dynatrace Documentation

- Set monitoring rules at host level - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups/configuration/pg-monitoring#set-monitoring-rules-at-host-level

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:host.process-groups.monitoring-state`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_host_process_group_monitoring` downloads all existing host level process group monitoring configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/host/process_groups/monitoring_state/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 