---
layout: ""
page_title: dynatrace_host_monitoring Resource - terraform-provider-dynatrace"
subcategory: "Host Monitoring"
description: |-
  The resource `dynatrace_host_monitoring` covers configuration for host monitoring
---

# dynatrace_host_monitoring (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Hosts - https://www.dynatrace.com/support/help/how-to-use-dynatrace/infrastructure-monitoring/hosts

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:host.monitoring`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_host_monitoring` downloads all existing host monitoring configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/host/monitoring/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 