---
layout: ""
page_title: dynatrace_host_anomalies Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_host_anomalies` covers configuration for host anomaly detection
---

# dynatrace_host_anomalies (Resource)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for infrastructure - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-infastructure

- Anomaly detection API - Hosts - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/anomaly-detection-api/anomaly-detection-api-hosts

## Export Example Usage

- `terraform-provider-dynatrace export dynatrace_host_anomalies` downloads all existing host anomaly detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs#exporting-existing-configuration-from-a-dynatrace-environment).

## Resource Example Usage

{{ tffile "test_data/anomalies/hosts/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 