---
layout: ""
page_title: dynatrace_http_monitor Resource - terraform-provider-dynatrace"
subcategory: "HTTP Monitors"
description: |-
  The resource `dynatrace_http_monitor` covers configuration for HTTP monitors
---

# dynatrace_http_monitor (Resource)

-> This resource requires the API token scope **Create and read synthetic monitors, locations, and nodes** (`ExternalSyntheticIntegration`)

## Dynatrace Documentation

- Synthetic Monitoring - HTTP monitors - https://www.dynatrace.com/support/help/shortlink/synthetic-hub#http-monitors

- Synthetic Monitors API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/synthetic/synthetic-monitors

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_http_monitor` downloads all existing HTTP monitor configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/synthetic/monitors/http/testdata/terraform/example_http_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 