---
layout: ""
page_title: dynatrace_http_monitor_cookies Resource - terraform-provider-dynatrace"
subcategory: "HTTP Monitors"
description: |-
  The resource `dynatrace_http_monitor_cookies` covers configuration for HTTP monitor cookies
---

# dynatrace_http_monitor_cookies (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Monitor setup - https://www.dynatrace.com/support/help/platform-modules/digital-experience/synthetic-monitoring/http-monitors/configure-http-monitors#setup

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:synthetic.http.cookies`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_http_monitor_cookies` downloads all existing HTTP monitor cookie configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/synthetic/http/cookies/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 