---
layout: ""
page_title: dynatrace_hub_subscriptions Resource - terraform-provider-dynatrace"
subcategory: "Environment Settings"
description: |-
  The resource `dynatrace_hub_subscriptions` covers configuration for hub subscriptions
---

# dynatrace_hub_subscriptions (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Dynatrace Hub - https://docs.dynatrace.com/docs/manage/hub

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:hub-channel.subscriptions`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_hub_subscriptions` downloads all existing hub subscriptions

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/hub/subscriptions/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 