---
layout: ""
page_title: "dynatrace_iam_group Resource - terraform-provider-dynatrace"
subcategory: "IAM"
description: |-
  The resource `dynatrace_iam_group` covers user group configuration via Account Management API for SaaS Accounts
---

# dynatrace_iam_group (Resource)

-> **Dynatrace SaaS only**

-> To utilize this resource, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permissions: **Allow read access for identity resources (users and groups)** (`account-idm-read`) and **Allow write access for identity resources (users and groups)** (`account-idm-write`).

-> This resource is excluded by default in the export utility, please explicitly specify the resource to retrieve existing configuration.

## Conflicts
~> **Warning** If this resource is used in combination with `dynatrace_iam_permission`, there is a potential for conflicts when both resources attempt to manage group permissions.
It is recommended to manage group permissions with the `dynatrace_iam_permission` resource.
To avoid conflicts when using the `dynatrace_iam_permission` resource, ensure to add the following lifecycle block to the `dynatrace_iam_group` resource:
```terraform
resource "dynatrace_iam_group" "Restricted" {
    name = "Restricted"

    lifecycle {
      ignore_changes = [permissions]
    }
}
```

## Dynatrace Documentation

- Dynatrace IAM - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso/manage-groups-and-permissions

- Settings API - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso/manage-groups-and-permissions/iam/iam-getting-started

## Resource Example Usage

```terraform
resource "dynatrace_iam_group" "Restricted" {
  name          = "Restricted"

  permissions {
    permission {
      name  = "tenant-viewer"
      type  = "management-zone"
      scope = "<environment-id>:<managementzone-id>"
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}
