---
layout: ""
page_title: "dynatrace_iam_permission Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_iam_permission` covers configuration of permissions for user groups via Account Management API for SaaS Accounts
---

# dynatrace_iam_permission (Resource)

## Dynatrace Documentation

- Dynatrace IAM - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso/manage-groups-and-permissions

- Settings API - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso/manage-groups-and-permissions/iam/iam-getting-started

## Prerequisites

Using this resource requires an OAuth client to be configured within your account settings.
The scopes of the OAuth Client need to include `account-idm-read`, `account-idm-write`, `account-env-read`, `account-env-write`, `iam-policies-management`, `iam:policies:write`, `iam:policies:read`, `iam:bindings:write`, `iam:bindings:read` and `iam:effective-permissions:read`.

Finally the provider configuration requires the credentials for that OAuth Client.
The configuration section of your provider needs to look like this.
```terraform
provider "dynatrace" {
  dt_env_url   = "https://########.live.dynatrace.com/"
  dt_api_token = "######.########################.################################################################"  

  iam_client_id = "######.########"
  iam_account_id = "########-####-####-####-############"
  iam_client_secret = "######.########.################################################################"  
}
```

## Resource Example Usage

```terraform
resource "dynatrace_iam_permission" "perm_a" {
  name            = "tenant-viewer"
  group           = "74ec0a82-8010-4f11-8579-b29a5ba865f0"
  # environment     = "siz65484"
  # management_zone = "107678256803363569"
  account = "023733f0-86d8-47d1-88bd-7f5cc2e22eb8"
}

```

{{ .SchemaMarkdown | trimspace }}
