---
layout: ""
page_title: dynatrace_ibm_mq_filters Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_ibm_mq_filters` covers configuration for IBM MQ filters
---

# dynatrace_ibm_mq_filters (Resource)

## Dynatrace Documentation

- IBM MQ monitoring - https://www.dynatrace.com/support/help/technology-support/dynatrace-extensions/dynatrace-extension-required/ibm-mq-extensions

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:mainframe.mqfilters`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_ibm_mq_filters` downloads all existing IBM MQ filter configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/mainframe/mqfilters/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 