---
layout: ""
page_title: "dynatrace_infraops_app_feature_flags Resource - terraform-provider-dynatrace"
subcategory: "AppEngine"
description: |-
  The resource `dynatrace_infraops_app_feature_flags` covers configuration for infrastructure and operations app feature flags
---

# dynatrace_infraops_app_feature_flags (Resource)

-> The infrastructure and operations app feature flag configuration is only to be configured with direction by Dynatrace ONE

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Infrastructure & Operations - https://www.dynatrace.com/hub/detail/infrastructure-operations/

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `app:dynatrace.infraops:feature-flags`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_infraops_app_feature_flags` downloads existing infrastructure and operations app feature flag configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/app/dynatrace/infraops/featureflags/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 