---
layout: ""
page_title: dynatrace_issue_tracking Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_issue_tracking` covers configuration for issue-tracking integrations
---

# dynatrace_issue_tracking (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Issue-tracking integration - https://www.dynatrace.com/support/help/platform-modules/cloud-automation/release-monitoring/issue-tracking-integration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:issue-tracking.integration`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_issue_tracking` downloads all existing issue-tracking integrations

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/issuetracking/integration/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 