---
page_title: "dynatrace_json_dashboard_base Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_json_dashboard_base` is for internal use only
---

# dynatrace_json_dashboard_base (Resource)

!> This resource is for internal use only