---
layout: ""
page_title: dynatrace_json_dashboard Resource - terraform-provider-dynatrace"
subcategory: "Dashboards"
description: |-
  The resource `dynatrace_json_dashboard` covers configuration for dashboards in JSON format
---

# dynatrace_json_dashboard (Resource)

-> This resource is excluded by default in the export utility since there could be a large amount of dashboards.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Dashboards and reports - https://www.dynatrace.com/support/help/how-to-use-dynatrace/dashboards-and-charts

- Dashboards API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/dashboards-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_json_dashboard` downloads all existing dashboard configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/jsondashboards/testdata/terraform/example_a_json.tf" }}

{{ .SchemaMarkdown | trimspace }}
 