---
layout: ""
page_title: dynatrace_k8s_namespace_anomalies Resource - terraform-provider-dynatrace"
subcategory: "Anomaly Detection"
description: |-
  The resource `dynatrace_k8s_namespace_anomalies` covers configuration for Kubernetes namespace anomalies
---

# dynatrace_k8s_namespace_anomalies (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Alert on common Kubernetes/OpenShift issues - https://www.dynatrace.com/support/help/platform-modules/infrastructure-monitoring/container-platform-monitoring/kubernetes-monitoring/alert-on-kubernetes-issues

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.kubernetes.namespace`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_k8s_namespace_anomalies` downloads all existing Kubernetes namespace anomaly configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/kubernetes/namespace/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 