---
layout: ""
page_title: dynatrace_k8s_credentials Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_k8s_credentials` covers configuration for Kubernetes credentials
---

# dynatrace_k8s_credentials (Resource)

## Dynatrace Documentation

- Kubernetes/OpenShift monitoring - https://www.dynatrace.com/support/help/how-to-use-dynatrace/infrastructure-monitoring/container-platform-monitoring/kubernetes-monitoring

- Kubernetes credentials API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/k8s-credentials-api-api

## Export Example Usage

- `terraform-provider-dynatrace export dynatrace_k8s_credentials` downloads all existing Kubernetes credentials configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs#exporting-existing-configuration-from-a-dynatrace-environment).

## Resource Example Usage

{{ tffile "test_data/credentials/k8s/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 