---
layout: ""
page_title: dynatrace_kubernetes_enrichment Resource - terraform-provider-dynatrace"
subcategory: "Cloud Platforms"
description: |-
  The resource `dynatrace_kubernetes_enrichment` covers configuration for generic metadata enrichment rules for Kubernetes
---

# dynatrace_kubernetes_app (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Kubernetes app - https://docs.dynatrace.com/docs/platform-modules/infrastructure-monitoring/container-platform-monitoring/kubernetes-app

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:kubernetes.generic.metadata.enrichment`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_kubernetes_enrichment` downloads all existing generic metadata enrichment rules for Kubernetes

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/kubernetes/enrichment/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 