---
layout: ""
page_title: dynatrace_log_oneagent Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_log_oneagent` covers configuration for OneAgent settings for Log Monitoring
---

# dynatrace_log_oneagent (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Log Monitoring configuration (Logs Classic) - https://www.dynatrace.com/support/help/observe-and-explore/logs/log-monitoring/log-monitoring-configuration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `"builtin:logmonitoring.log-agent-configuration`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_log_oneagent` downloads all existing OneAgent settings for Log Monitoring

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/logmonitoring/logagentconfiguration/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 