---
layout: ""
page_title: "dynatrace_log_metrics Resource - terraform-provider-dynatrace"
subcategory: "Log Monitoring"
description: |-
  The resource `dynatrace_log_metrics` covers configuration for log metrics
---

# dynatrace_log_metrics (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Log metrics - https://www.dynatrace.com/support/help/observe-and-explore/logs/log-monitoring/analyze-log-data/log-metrics

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:logmonitoring.schemaless-log-metric`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_log_metrics` downloads all existing log metric configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/logmonitoring/schemalesslogmetric/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 