---
layout: ""
page_title: dynatrace_log_custom_attribute Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_log_custom_attribute` covers configuration for [custom log attributes](https://www.dynatrace.com/support/help/observe-and-explore/logs/log-monitoring/analyze-log-data/log-custom-attributes) ([Log Monitoring Classic](https://www.dynatrace.com/support/help/observe-and-explore/logs/log-monitoring))
---

# dynatrace_log_custom_attribute (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Custom Log Attributes - https://www.dynatrace.com/support/help/observe-and-explore/logs/log-monitoring/analyze-log-data/log-custom-attributes

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:logmonitoring.log-custom-attributes`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_log_custom_attribute` downloads all existing custom log attributes

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/logmonitoring/logcustomattributes/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 