---
layout: ""
page_title: dynatrace_maintenance_window Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_maintenance_window` covers configuration for maintenance windows
---

# dynatrace_maintenance_window (Resource)

!> This resource API endpoint has been deprecated, please use [dynatrace_maintenance](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/maintenance) instead.

## Dynatrace Documentation

- Maintenance windows - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/notifications-and-alerting/maintenance-windows

- Maintenance windows API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/maintenance-windows-api

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/maintenance/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 