---
layout: ""
page_title: dynatrace_mainframe_transaction_monitoring Resource - terraform-provider-dynatrace"
subcategory: "Mainframe"
description: |-
  The resource `dynatrace_mainframe_transaction_monitoring` covers additional monitoring settings for CICS and IMS transactions
---

# dynatrace_mainframe_transaction_monitoring (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Customize CICS and IMS monitoring - https://www.dynatrace.com/support/help/setup-and-configuration/dynatrace-oneagent/installation-and-operation/zos/operation/cics-ims-monitoring

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:mainframe.txmonitoring`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mainframe_transaction_monitoring` downloads all additional monitoring settings for CICS and IMS transactions

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/mainframe/txmonitoring/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 