---
layout: ""
page_title: dynatrace_managed_preferences Resource - terraform-provider-dynatrace"
subcategory: "Cluster Management"
description: |-
  The resource `dynatrace_managed_preferences` covers configuration for cluster preferences
---

# dynatrace_managed_preferences (Resource)

!> **HTTP DELETE method not available** Terraform will no longer manage this resource on `destroy` but the configuration will still be present on the Dynatrace cluster.

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- Cluster preferences settings - https://www.dynatrace.com/support/help/managed-cluster/configuration/configure-cluster-preferences

- Cluster API v1 - https://www.dynatrace.com/support/help/managed-cluster/cluster-api/cluster-api-v1

{{ .SchemaMarkdown | trimspace }}
 