---
layout: ""
page_title: "dynatrace_managed_backup Resource - terraform-provider-dynatrace"
subcategory: "Cluster Management"
description: |-
  The resource `dynatrace_managed_backup` covers configuration for cluster backup
---

# dynatrace_managed_backup (Resource)

!> **HTTP DELETE method not available** Terraform will no longer manage this resource on `destroy` but the configuration will still be present on the Dynatrace cluster.

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- Back up and restore a cluster - https://www.dynatrace.com/support/help/managed-cluster/operation/back-up-and-restore-a-cluster

- Cluster API v1 - https://www.dynatrace.com/support/help/managed-cluster/cluster-api/cluster-api-v1

## Resource Example Usage

```terraform
resource "dynatrace_managed_backup" "Test" {
	enabled 					= true
	datacenter					= ""
	include_rum_data			= true
	include_lm20_data			= true
	include_ts_metric_data		= true
	bandwidth_limit_mbits		= 240
	max_es_snapshots_to_clean	= 25
    cassandra_scheduled_time    = 22
	pause_backups				= false
}
```

{{ .SchemaMarkdown | trimspace }}
 