---
layout: ""
page_title: dynatrace_managed_public_endpoints Resource - terraform-provider-dynatrace"
subcategory: "Cluster Management"
description: |-
  The resource `dynatrace_managed_public_endpoints` covers configuration for cluster public endpoints
---

# dynatrace_managed_public_endpoints (Resource)

!> **HTTP DELETE method not available** Terraform will no longer manage this resource on `destroy` but the configuration will still be present on the Dynatrace cluster.

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- Dynatrace Managed - https://www.dynatrace.com/support/help/managed-cluster

- Cluster API v1 - Environments - https://www.dynatrace.com/support/help/managed-cluster/cluster-api/cluster-api-v1

## Resource Example Usage

```terraform
resource "dynatrace_managed_public_endpoints" "Test" {
  web_ui_address              = "https://www.webuiaddress.com" 
	additional_web_ui_addresses = ["https://www.webuiaddress1.com","https://www.webuiaddress2.com"]
	beacon_forwarder_address    = "https://www.beaconforwarderaddress.com:443"
	cdn_address                 = "https://www.cdnaddress.com"
}
```

{{ .SchemaMarkdown | trimspace }}
 