---
layout: ""
page_title: dynatrace_metric_metadata Resource - terraform-provider-dynatrace"
subcategory: "Metrics"
description: |-
  The resource `dynatrace_metric_metadata` covers configuration for metric metadata
---

# dynatrace_metric_metadata (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Metrics - https://www.dynatrace.com/support/help/observe-and-explore/metrics

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:metric.metadata`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_metric_metadata` downloads all existing metric metadata configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/metric/metadata/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 