---
layout: ""
page_title: dynatrace_mgmz_permission Resource - terraform-provider-dynatrace"
subcategory: "IAM"
description: |-
  The resource `dynatrace_mgmz_permission` covers permissions to user groups / management zones within managed environments
---

# dynatrace_mgmz_permission (Resource)

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- Manage Groups and Permissions - https://www.dynatrace.com/support/help/manage/access-control/user-management-and-sso/manage-groups-and-permissions#mz

- User management API - https://www.dynatrace.com/support/help/dynatrace-api/account-management-api/user-management-api

## Prerequisites

The recommended way to configure the provider is via environment variables.
Please set `DYNATRACE_CLUSTER_URL` and `DYNATRACE_CLUSTER_API_TOKEN` to use this resource.

Alternatively, you can set the variables in the `provider` block - not recommended for production environments.
```terraform
provider "dynatrace" {
  dt_cluster_url = "https://####.######.#####"
  dt_cluster_api_token = "######.#########################################################################################"
}
```

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mgmz_permission` downloads all user group / management zone permissions

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

```terraform
resource "dynatrace_mgmz_permission" "some-perm" {
  group = dynatrace_user_group.group-a.id
  environment = "d85dea6a-4287-49d3-bf62-729274ba7036"
  management_zone = "982182035185200933"
  permissions = [ "VIEWER", "REPLAY_SESSION_DATA" ]
}
```

{{ .SchemaMarkdown | trimspace }}
 