---
layout: ""
page_title: "dynatrace_mobile_app_enablement Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_mobile_app_enablement` covers configuration for mobile application enablement and cost control
---

# dynatrace_mobile_app_enablement (Resource)

-> **Settings 2.0** Certain field(s) of this resource has overlap with `dynatrace_mobile_application`, therefore it is excluded from the default export. To retrieve this resource via export, directly specify it as a command line argument. 

## Dynatrace Documentation

- Configure cost and traffic control for mobile applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/mobile-applications/configure-cost-and-traffic-control-mobile

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.mobile.enablement`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mobile_app_enablement` downloads all existing mobile application enablement and cost control configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/rum/mobile/enablement/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 