---
layout: ""
page_title: "dynatrace_mobile_app_anomalies Resource - terraform-provider-dynatrace"
subcategory: "Anomaly Detection"
description: |-
  The resource `dynatrace_mobile_app_anomalies` covers configuration for mobile application anomaly detection
---

# dynatrace_mobile_app_anomalies (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-applications

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.rum-mobile`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mobile_app_anomalies` downloads all existing mobile application anomaly detection configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/anomalydetection/rum/mobile/testdata/terraform-mobile-app/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 