---
layout: ""
page_title: "dynatrace_mobile_app_enablement Resource - terraform-provider-dynatrace"
subcategory: "Mobile & Custom Applications"
description: |-
  The resource `dynatrace_mobile_app_enablement` covers configuration for mobile application enablement and cost control
---

# dynatrace_mobile_app_enablement (Resource)

-> Configuration of the application scope overlaps with [dynatrace_mobile_application](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/mobile_application), but this resource in addition provides an option for an environment scope.

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Configure cost and traffic control for mobile applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/mobile-applications/configure-cost-and-traffic-control-mobile

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.mobile.enablement`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mobile_app_enablement` downloads all existing mobile application enablement and cost control configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/mobile/enablement/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 