---
layout: ""
page_title: "dynatrace_mobile_app_request_errors Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_mobile_app_request_errors` covers configuration for mobile application request errors
---

# dynatrace_mobile_app_request_errors (Resource)

-> This resource may not have full coverage of the required fields, please use [dynatrace_application_error_rules](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/application_error_rules) instead.

## Dynatrace Documentation

- Ignore web request errors for mobile applications - https://www.dynatrace.com/support/help/platform-modules/digital-experience/mobile-applications/setup-and-configuration/additional-configuration/web-request-errors-mobile

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.mobile.request-errors`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_mobile_app_request_errors` downloads all existing mobile application request error configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/mobile/requesterrors/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 