---
layout: ""
page_title: "dynatrace_monitored_technologies_varnish Resource - terraform-provider-dynatrace"
subcategory: "Monitored Technologies"
description: |-
  The resource `dynatrace_monitored_technologies_varnish` covers configuration to enable/disable Varnish monitoring
---

# dynatrace_monitored_technologies_varnish (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Hosts - https://www.dynatrace.com/support/help/platform-modules/infrastructure-monitoring/hosts

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:monitored-technologies.varnish`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_monitored_technologies_varnish` downloads all existing Varnish monitoring configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/monitoredtechnologies/varnish/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 