---
layout: ""
page_title: dynatrace_monitored_technologies_nodejs Resource - terraform-provider-dynatrace"
subcategory: "Monitored Technologies"
description: |-
  The resource `dynatrace_monitored_technologies_nodejs` covers configuration to enable/disable Node.js monitoring
---

# dynatrace_monitored_technologies_nodejs (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Hosts - https://www.dynatrace.com/support/help/platform-modules/infrastructure-monitoring/hosts

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:monitored-technologies.nodejs`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_monitored_technologies_nodejs` downloads all existing Node.js monitoring configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/monitoredtechnologies/nodejs/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 