---
layout: ""
page_title: dynatrace_muted_requests Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_muted_requests` covers configuration for muted requests
---

# dynatrace_muted_requests (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Mute monitoring of service requests - https://www.dynatrace.com/support/help/how-to-use-dynatrace/services/service-monitoring-settings/service-monitoring-mute 

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:settings.mutedrequests`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_muted_requests` downloads all existing muted requests configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/settings/mutedrequests/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 