---
layout: ""
page_title: dynatrace_network_monitor_outage Resource - terraform-provider-dynatrace"
subcategory: "Network Availability Monitors"
description: |-
  The resource `dynatrace_network_monitor_outage` covers configuration for network availability monitor outage handling
---

# dynatrace_network_monitor_outage (Resource)

-> Configuration of the synthetic test scope overlaps with [dynatrace_network_monitor](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/network_monitor), but this resource in addition provides an option for an environment scope.

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Network availability monitors - https://docs.dynatrace.com/docs/platform-modules/digital-experience/synthetic-monitoring/general-information/network-availability-monitors

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:synthetic.multiprotocol.outage-handling`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_network_monitor_outage` downloads all existing network availability monitor outage handling configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/synthetic/multiprotocol/outagehandling/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 