---
layout: ""
page_title: dynatrace_network_zone Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_network_zone` covers configuration for network zones
---

# dynatrace_network_zone (Resource)

-> This resource requires the API token scopes **Read network zones** (`networkZones.read`) and **Write network zones** (`networkZones.write`)

## Dynatrace Documentation

- Network zones - https://www.dynatrace.com/support/help/setup-and-configuration/network-zones

- Network zones API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/network-zones

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_network_zone` downloads all existing network zone configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

{{ .SchemaMarkdown | trimspace }}
 