---
layout: ""
page_title: dynatrace_network_traffic Resource - terraform-provider-dynatrace"
subcategory: "Host Monitoring"
description: |-
  The resource `dynatrace_network_traffic` covers configuration for excluding network traffic from host monitoring
---

# dynatrace_network_traffic (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Exclude disks and network traffic from host monitoring - https://www.dynatrace.com/support/help/platform-modules/infrastructure-monitoring/hosts/configuration/exclude-disks-and-network-traffic

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:exclude.network.traffic`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_network_traffic` downloads all existing host network traffic exclusion configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/exclude/network/traffic/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 