---
layout: ""
page_title: "dynatrace_openpipeline_davis_events Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_openpipeline_davis_events` covers configuration of OpenPipeline for Davis events
---

# dynatrace_openpipeline_davis_events (Resource)

!> This resource API endpoint has been deprecated, please migrate your openpipeline configurations and use `dynatrace_openpipeline_v2_davis_events_*` instead.

!> Deploying an OpenPipeline configuration will overwrite the existing one of the same kind, causing any manual changes made in the web UI or other configurations managed by Terraform or Monaco to be lost. Ensure all configurations are defined within a single Terraform or Monaco configuration to prevent data loss.

-> **Dynatrace SaaS only**

-> To utilize this resource, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permissions: **View OpenPipeline configurations** (`openpipeline:configurations:read`), and **Edit OpenPipeline configurations** (`openpipeline:configurations:write`).

## Dynatrace Documentation

- OpenPipeline - https://docs.dynatrace.com/docs/platform/openpipeline

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_openpipeline_davis_events` downloads all existing OpenPipeline definitions for Davis events

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/openpipeline/testdata/terraform/example-davis-events.tf" }}

{{ .SchemaMarkdown | trimspace }}
