---
layout: ""
page_title: dynatrace_ownership_config Resource - terraform-provider-dynatrace"
subcategory: "Ownership"
description: |-
  The resource `dynatrace_ownership_config` covers configuration for ownership
---

# dynatrace_ownership_config (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Ownership - https://www.dynatrace.com/support/help/manage/ownership

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:ownership.config`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_ownership_config` downloads all existing ownership configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/ownership/config/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 