---
layout: ""
page_title: dynatrace_pg_anomalies Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_pg_anomalies` covers configuration for process group anomaly detection
---

# dynatrace_pg_anomalies (Resource)

!> This resource is utilizing an older API endpoint, please use [dynatrace_pg_alerting](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/pg_alerting) instead.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Process groups - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups 

- Anomaly detection API - Process groups - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/anomaly-detection-api/anomaly-detection-api-process-groups

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_pg_anomalies` downloads all existing process group detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/anomalies/processgroups/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}