---
layout: ""
page_title: dynatrace_pg_anomalies Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_pg_anomalies` covers configuration for process group anomaly detection
---

# dynatrace_pg_anomalies (Resource)

## Dynatrace Documentation

- Process groups - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups 

- Anomaly detection API - Process groups - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/anomaly-detection-api/anomaly-detection-api-process-groups

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_pg_anomalies` downloads all existing process group detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/anomalies/process_groups/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}