---
layout: ""
page_title: "dynatrace_problem_fields Resource - terraform-provider-dynatrace"
subcategory: "Platform"
description: |-
  The resource `dynatrace_problem_fields` covers configuration for problem fields
---

# dynatrace_problem_fields (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Davis AI - https://docs.dynatrace.com/docs/discover-dynatrace/platform/davis-ai

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:problem.fields`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_problem_fields` downloads existing problem fields rules

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/problem/fields/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 