---
layout: ""
page_title: dynatrace_process_group_rum Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_process_group_rum` covers real user monitoring configuration for process groups
---

# dynatrace_process_group_rum (Resource)

## Dynatrace Documentation

- Real User Monitoring for process groups - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/rum-for-process-groups

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.processgroup`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_process_group_rum` downloads all real user monitoring configuration for process groups

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/processgroup/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 