---
layout: ""
page_title: "dynatrace_process_monitoring Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_process_monitoring` covers configuration to monitor key processes on a host
---

# dynatrace_process_monitoring (Resource)

## Dynatrace Documentation

- Process Availability - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups/configuration/pg-monitoring

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:process.process-monitoring`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_process_monitoring` downloads all existing key processes configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/process_monitoring/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 