---
layout: ""
page_title: "dynatrace_process_monitoring Resource - terraform-provider-dynatrace"
subcategory: "Process Monitoring"
description: |-
  The resource `dynatrace_process_monitoring` covers configuration to monitor key processes on a host
---

# dynatrace_process_monitoring (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Process Availability - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups/configuration/pg-monitoring

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:process.process-monitoring`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_process_monitoring` downloads all existing key processes configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/process/monitoring/testdata/terraform-host-group/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 