---
layout: ""
page_title: "dynatrace_processgroup_naming Resource - terraform-provider-dynatrace"
subcategory: "Process Group Monitoring"
description: |-
  The resource `dynatrace_processgroup_naming` covers configuration for process group naming
---

# dynatrace_processgroup_naming (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Process group naming - https://www.dynatrace.com/support/help/how-to-use-dynatrace/process-groups/configuration/pg-naming

- Conditional naming API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/conditional-naming

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_processgroup_naming` downloads all existing process group naming configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/naming/processgroups/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 