---
layout: ""
page_title: "dynatrace_process_group_detection_flags Resource - terraform-provider-dynatrace"
subcategory: "Process Group Monitoring"
description: |-
  The resource `dynatrace_process_group_detection_flags` covers configuration to enable or disable built-in process group detection rules
---

# dynatrace_process_group_detection_flags (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Process group detection - https://www.dynatrace.com/support/help/platform-modules/infrastructure-monitoring/process-groups/configuration/pg-detection

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:process-group.detection-flags`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_process_group_detection_flags` downloads all existing built-in process group detection rules

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/processgroup/detectionflags/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 