---
layout: ""
page_title: dynatrace_queue_sharing_groups Resource - terraform-provider-dynatrace"
subcategory: "Mainframe"
description: |-
  The resource `dynatrace_queue_sharing_groups` covers configuration for IBM MQ queue sharing groups
---

# dynatrace_queue_sharing_groups (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- IBM MQ tracing - https://www.dynatrace.com/support/help/how-to-use-dynatrace/queues/configuration/ibm-mq-tracing

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:ibmmq.queue-sharing-group`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_queue_sharing_groups` downloads all existing IBM MQ queue sharing group configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/ibmmq/queuesharinggroup/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 