---
layout: ""
page_title: "dynatrace_queue_manager Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_queue_manager` covers configuration for IBM MQ Queue Managers
---

# dynatrace_queue_manager (Resource)

## Dynatrace Documentation

IBM MQ tracing - https://www.dynatrace.com/support/help/how-to-use-dynatrace/queues/configuration/ibm-mq-tracing

Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:ibmmq.queue-managers`)

## Export Example Usage

`terraform-provider-dynatrace export dynatrace_queue_manager` downloads all existing queue manager configuration

## Resource Example Usage

{{ tffile "test_data/ibmmq/queuemanagers/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
