---
layout: ""
page_title: dynatrace_remote_environments Resource - terraform-provider-dynatrace"
subcategory: "Integrations"
description: |-
  The resource `dynatrace_remote_environments` covers configuration for remote Dynatrace environments
---

# dynatrace_remote_environments (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Create remote/multi-environment Dynatrace dashboards - https://www.dynatrace.com/support/help/observe-and-explore/dashboards/dashboards/dashboards-multi-environment

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:remote.environment`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_remote_environments` downloads all existing remote Dynatrace environment configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/remote/environment/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 