---
layout: ""
page_title: dynatrace_report Resource - terraform-provider-dynatrace"
subcategory: "Dashboards"
description: |-
  The resource `dynatrace_report` covers configuration for dashboard reports
---

# dynatrace_report (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Subscribe to Dynatrace dashboard reports - https://docs.dynatrace.com/docs/observe-and-explore/dashboards-classic/dashboards/subscribe-to-dashboard-reports

- Reports API - https://docs.dynatrace.com/docs/dynatrace-api/configuration-api/reports-api

{{ .SchemaMarkdown | trimspace }}
 