---
layout: ""
page_title: "dynatrace_request_naming Resource - terraform-provider-dynatrace"
subcategory: "Service Monitoring"
description: |-
  The resource `dynatrace_request_naming` covers configuration for request naming
---

# dynatrace_request_naming (Resource)

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Set up request naming - https://www.dynatrace.com/support/help/how-to-use-dynatrace/services/service-monitoring-settings/set-up-request-naming

- Request naming API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/service-api/request-naming-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_request_naming` downloads all existing request naming configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

{{ .SchemaMarkdown | trimspace }}
 