---
layout: ""
page_title: dynatrace_resource_attributes Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_resource_attributes` covers configuration for resource attributes
---

# dynatrace_resource_attributes (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- OpenTelemetry traces - https://www.dynatrace.com/support/help/extend-dynatrace/opentelemetry/opentelemetry-traces

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:resource-attribute`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_resource_attributes` downloads all existing resource attribute configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/resourceattribute/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 