---
layout: ""
page_title:  {{.Type}} - {{.ProviderName}}"
subcategory: "Service Monitoring"
description: |-
  The resource `{{ .Name }}` covers configuration for trace sampling for RPC requests
---

# {{ .Name }} ({{.Type}})

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Trace sampling - https://docs.dynatrace.com/docs/shortlink/url-sampling

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rpc-based-sampling`)

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rpcbasedsampling/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
