---
layout: ""
page_title: dynatrace_rum_ip_locations Resource - terraform-provider-dynatrace"
subcategory: "Real User Monitoring"
description: |-
  The resource `dynatrace_rum_ip_locations` covers configuration for IP address mapping rules for real user monitoring
---

# dynatrace_rum_ip_locations (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Map internal IP addresses to locations - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/map-internal-ip-addresses-to-locations-web

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.ip-mappings`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_rum_ip_locations` downloads all existing IP address mapping configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/ipmappings/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 