---
layout: ""
page_title: dynatrace_rum_host_headers Resource - terraform-provider-dynatrace"
subcategory: "Real User Monitoring"
description: |-
  The resource `dynatrace_rum_host_headers` covers configuration for identifying host names for real user monitoring
---

# dynatrace_rum_host_headers (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Define applications for Real User Monitoring - https://www.dynatrace.com/support/help/platform-modules/digital-experience/web-applications/setup-and-configuration/initial-configuration/define-your-applications-via-the-my-web-application-placeholder

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.host-headers`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_rum_host_headers` downloads all existing host name HTTP request header configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/hostheaders/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 