---
layout: ""
page_title:  {{.Type}} - {{.ProviderName}}"
subcategory: "Grail"
description: |-
  The resource `{{ .Name }}` covers configuration of segments to logically structure and conveniently filter observability data across apps on the Dynatrace platform
---

# {{ .Name }} ({{.Type}})

-> **Dynatrace SaaS only**

-> To utilize this resource with access to all segments, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permissions: **View Filter-Segments** (`storage:filter-segments:read`), **Create and Update Filter-Segments** (`storage:filter-segments:write`), **Share Filter-Segments** (`storage:filter-segments:share`), **Delete Filter-Segments** (`storage:filter-segments:delete`) and **Maintain all Filter-Segments on the environment** (`storage:filter-segments:admin`).

-> This resource is excluded by default in the export utility, please explicitly specify the resource to retrieve existing configuration.

## Dynatrace Documentation

- Segments - https://docs.dynatrace.com/docs/manage/segments

- Grail Storage Filter-Segments (API) - https://########.apps.dynatrace.com/platform/swagger-ui/index.html?urls.primaryName=Grail+-+Filter+Segments

## Resource Example Usage

{{ tffile "dynatrace/api/grail/segments/testdata/terraform/example-a.tf" }}


{{ .SchemaMarkdown | trimspace }}
