---
layout: ""
page_title: dynatrace_service_full_web_service Resource - terraform-provider-dynatrace"
subcategory: "Service Detection"
description: |-
  The resource `dynatrace_service_full_web_service` covers service detection rules for full web services
---

# dynatrace_service_full_web_service (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Service detection rules - https://www.dynatrace.com/support/help/platform-modules/applications-and-microservices/services/service-detection-and-naming/customize-service-detection

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:service-detection.full-web-service`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_service_full_web_service` downloads all existing service detection rules for full web services

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/servicedetection/fullwebservice/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 