---
layout: ""
page_title: "dynatrace_service_anomalies Resource - terraform-provider-dynatrace"
subcategory: "Deprecated"
description: |-
  The resource `dynatrace_service_anomalies` covers configuration for service anomaly detection
---

# dynatrace_service_anomalies (Resource)

!> This resource is utilizing an older API endpoint, please use [dynatrace_service_anomalies_v2](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/service_anomalies_v2) instead.

-> This resource requires the API token scopes **Read configuration** (`ReadConfig`) and **Write configuration** (`WriteConfig`)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for services - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-services

- Anomaly detection API - Services - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/anomaly-detection-api/anomaly-detection-api-services

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_service_anomalies` downloads all existing service anomaly detection configuration

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/v1/config/anomalies/services/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 