---
layout: ""
page_title: dynatrace_service_now_notification Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_service_now_notification` covers configuration problem notifications sent to Service Now
---

# dynatrace_service_now_notification (Resource)

## Dynatrace Documentation

- ServiceNow integration - https://www.dynatrace.com/support/help/setup-and-configuration/integrations/problem-notifications/servicenow-integration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:problem.notifications`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_service_now_notification` downloads the existing problem notifications for Service Now

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/notifications/servicenow/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 