---
layout: ""
page_title: "{{.Type}} - {{.ProviderName}}"
subcategory: "Service Detection"
description: |-
  The resource `{{ .Name }}` covers configuration for service detection rules
---

# {{ .Name }} ({{.Type}})

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Services - https://docs.dynatrace.com/docs/observe/applications-and-microservices/services

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:service-detection-rules`)

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/servicedetectionrules/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
