---
layout: ""
page_title: dynatrace_servicenow_connection Resource - terraform-provider-dynatrace"
subcategory: "Connections"
description: |-
  The resource `dynatrace_servicenow_connection` covers configuration for ServiceNow connections
---

# dynatrace_servicenow_connection (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- ServiceNow - https://docs.dynatrace.com/docs/analyze-explore-automate/workflows/actions/service-now

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `app:dynatrace.servicenow:connection`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_servicenow_connection` downloads all existing ServiceNow connections

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/app/dynatrace/servicenow/connection/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
