---
layout: ""
page_title: dynatrace_session_replay_resource_capture Resource - terraform-provider-dynatrace"
subcategory: "Session Replay"
description: |-
  The resource `dynatrace_session_replay_resource_capture` covers configuration for Session Replay resource capture
---

# dynatrace_session_replay_resource_capture (Resource)

-> Configuration of the application scope overlaps with [dynatrace_web_application](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/web_application), but this resource in addition provides an option for an environment scope.

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Resource capture - https://www.dynatrace.com/support/help/platform-modules/digital-experience/session-replay/configure-session-replay-web#sr-resource-capturing

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:sessionreplay.web.resource-capturing`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_session_replay_resource_capture` downloads all existing Session Replay resource capture configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/sessionreplay/web/resourcecapturing/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 