---
layout: ""
page_title: "dynatrace_site_reliability_guardian Resource - terraform-provider-dynatrace"
subcategory: "Automation"
description: |-
  The resource `dynatrace_site_reliability_guardian` covers configuration for Site Reliability Guardian
---

# dynatrace_site_reliability_guardian (Resource)

-> This resource requires the `Site Reliability Guardian` app to be installed via the Dynatrace Hub.

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Site Reliability Guardian - https://docs.dynatrace.com/docs/platform-modules/automations/site-reliability-guardian

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `app:dynatrace.site.reliability.guardian:guardians`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_site_reliability_guardian` downloads all existing Site Reliability Guardian configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/app/dynatrace/sitereliabilityguardian/testdata/terraform/example_a.tf" }}


{{ .SchemaMarkdown | trimspace }}
