---
layout: ""
page_title: dynatrace_slack_notification Resource - terraform-provider-dynatrace"
subcategory: "Notifications"
description: |-
  The resource `dynatrace_slack_notification` covers configuration problem notifications sent to Slack
---

# dynatrace_slack_notification (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Slack integration - https://www.dynatrace.com/support/help/setup-and-configuration/integrations/problem-notifications/slack-integration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:problem.notifications`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_slack_notification` downloads the existing problem notifications for Slack

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/problem/notifications/slack/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 