---
layout: ""
page_title: dynatrace_synthetic_availability Resource - terraform-provider-dynatrace"
description: |-
  Dynatrace offers the possibility to configure maintenance windows. By default maintenance windows only affect problem detection and alerting. You can change this behavior and calculate availability including/excluding maintenance window periods
---

# dynatrace_synthetic_availability (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:synthetic.synthetic-availability-settings`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_synthetic_availability` downloads the existing settings for Usability Analytics

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/synthetic/availability/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 