---
layout: ""
page_title: dynatrace_user_group Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_user_group` covers configuration for user groups
---

# dynatrace_user_group (Resource)

-> This resource requires the cluster API token scope **Service Provider API** (`ServiceProviderAPI`)

## Dynatrace Documentation

- User management and SSO - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso

- User management API - https://www.dynatrace.com/support/help/dynatrace-api/account-management-api/user-management-api

{{ .SchemaMarkdown | trimspace }}
 