---
layout: ""
page_title: dynatrace_user Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_user` covers configuration for users
---

# dynatrace_user (Resource)

## Dynatrace Documentation

- User management and SSO - https://www.dynatrace.com/support/help/how-to-use-dynatrace/user-management-and-sso

- User management API - https://www.dynatrace.com/support/help/dynatrace-api/account-management-api/user-management-api

{{ .SchemaMarkdown | trimspace }}
 