---
layout: ""
page_title: dynatrace_victor_ops_notification Resource - terraform-provider-dynatrace"
subcategory: "Notifications"
description: |-
  The resource `dynatrace_victor_ops_notification` covers configuration problem notifications sent to VictorOps
---

# dynatrace_victor_ops_notification (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- VictoOps integration - https://www.dynatrace.com/support/help/setup-and-configuration/integrations/problem-notifications/victorops-integration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:problem.notifications`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_victor_ops_notification` downloads the existing problem notifications for VictorOps

The full documentation of the export feature is available [here](https://dt-url.net/h203qmc).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/problem/notifications/victorops/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 