---
layout: ""
page_title: "dynatrace_web_app_request_errors Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_web_app_request_errors` covers configuration for web application request errors
---

# dynatrace_web_app_request_errors (Resource)

-> This resource may not have full coverage of the required fields, please use [dynatrace_application_error_rules](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/application_error_rules) instead.

## Dynatrace Documentation

- Configure request errors - https://www.dynatrace.com/support/help/platform-modules/digital-experience/web-applications/additional-configuration/configure-errors#configure-request-errors

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.web.request-errors`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_web_app_request_errors` downloads all existing request error configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/web/requesterrors/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 