---
layout: ""
page_title: "dynatrace_web_app_anomalies Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_web_app_anomalies` covers configuration for web application anomaly detection
---

# dynatrace_web_app_anomalies (Resource)

## Dynatrace Documentation

- Adjust the sensitivity of anomaly detection for applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/problem-detection-and-analysis/problem-detection/adjust-sensitivity-anomaly-detection/adjust-sensitivity-applications

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:anomaly-detection.rum-web`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_web_app_anomalies` downloads all existing web application anomaly detection configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/anomalies/web_app/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 