---
layout: ""
page_title: dynatrace_web_app_key_performance_load Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_web_app_key_performance_load` covers apdex threshold configuration for load actions

---

# dynatrace_web_app_key_performance_load (Resource)

## Dynatrace Documentation

- Adjust Apdex settings for web applications - https://www.dynatrace.com/support/help/platform-modules/digital-experience/web-applications/additional-configuration/configure-apdex-web

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.web.key-performance-metric-load-actions`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_web_app_key_performance_load` downloads all existing apdex threshold configuration for load actions

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/web/keyperformancemetric/loadactions/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 