---
layout: ""
page_title: "dynatrace_web_app_enablement Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_web_app_enablement` covers configuration for web application enablement and cost control
---

# dynatrace_web_app_enablement (Resource)

-> Configuration of the application scope overlaps with [dynatrace_web_application](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/web_application), but this resource in addition provides an option for an environment scope.

## Dynatrace Documentation

- Configure cost and traffic control for web applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications/additional-configuration/configure-cost-and-traffic-control-web

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.web.enablement`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_web_app_enablement` downloads all existing web application enablement and cost control configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/rum/web/enablement/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 