---
layout: ""
page_title: dynatrace_web_application Resource - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_web_application` covers configuration for web applications
---

# dynatrace_web_application (Resource)

## Dynatrace Documentation

- RUM setup and configuration for web applications - https://www.dynatrace.com/support/help/how-to-use-dynatrace/real-user-monitoring/setup-and-configuration/web-applications

- Web application configuration API - https://www.dynatrace.com/support/help/dynatrace-api/configuration-api/rum/web-application-configuration-api

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_web_application` downloads all existing web application configuration

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "test_data/applications/web/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 