---
layout: ""
page_title:  {{.Type}} - {{.ProviderName}}"
subcategory: "Web Applications"
description: |-
  The resource `{{ .Name }}` covers configuration for custom properties capture restrictions
---

# {{ .Name }} ({{.Type}})

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- Web applications - https://docs.dynatrace.com/docs/platform-modules/digital-experience/web-applications

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:rum.web.capture-custom-properties`)

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/rum/web/capturecustomproperties/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
