---
layout: ""
page_title: dynatrace_xmatters_notification Resource - terraform-provider-dynatrace"
subcategory: "Notifications"
description: |-
  The resource `dynatrace_xmatters_notification` covers configuration problem notifications sent via xMatters
---

# dynatrace_webhook_notification (Resource)

-> This resource requires the API token scopes **Read settings** (`settings.read`) and **Write settings** (`settings.write`)

## Dynatrace Documentation

- xMatters integration - https://www.dynatrace.com/support/help/setup-and-configuration/integrations/problem-notifications/xmatters-integration

- Settings API - https://www.dynatrace.com/support/help/dynatrace-api/environment-api/settings (schemaId: `builtin:problem.notifications`)

## Export Example Usage

- `terraform-provider-dynatrace -export dynatrace_xmatters_notification` downloads the existing problem notifications for xMatters

The full documentation of the export feature is available [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).

## Resource Example Usage

{{ tffile "dynatrace/api/builtin/problem/notifications/xmatters/testdata/terraform/example_a.tf" }}

{{ .SchemaMarkdown | trimspace }}
 