---
layout: ""
page_title: "Provider: Dynatrace"
description: |-
  The Dynatrace Terraform Provider provides resources to interact with the Dynatrace Config REST API.
---

# Dynatrace Terraform Provider

The Dynatrace Terraform Provider is used to interact with the resources supported by the Dynatrace Config REST API. The provider needs to be configured with the proper credentials before it can be used.

Use the links to the left to learn about the available resources.

## Example
```
# Terraform 0.13+ uses the Terraform Registry:

terraform {
    required_version = "~> 0.13.0"
    required_providers {
        dynatrace = {
            source = "dynatrace.com/com/dynatrace"
        }
    }
}

# Configure the Dynatrace provider
provider "dynatrace" {
    dt_env_url    = "https://########.live.dynatrace.com"
    dt_api_token  = "################"
}

# Terraform 0.12- can be specified as:
terraform {
    required_providers {
        dynatrace = {
            version = "1.0.11"
        }
    }
}
```

{{ .SchemaMarkdown | trimspace }}