---
layout: ""
page_title: "Provider: Dynatrace"
description: |-
  The Dynatrace Terraform Provider provides resources to interact with the Dynatrace REST API.
---

# Dynatrace Terraform Provider

The Dynatrace Terraform Provider is used to interact with the resources supported by the Dynatrace REST API. The provider needs to be configured with the proper credentials before it can be used.

Use the links to the left to learn about the available resources, data sources, and guides.

## Example

# Terraform 0.13+ uses the Terraform Registry:
```
terraform {
    required_providers {
        dynatrace = {
            version = "1.58.1"
            source = "dynatrace-oss/dynatrace"
        }
    }
} 
```
## Configure the Dynatrace provider
The recommended way to configure the provider is via environment variables.
The value of `DYNATRACE_ENV_URL` needs to refer to the URL your Dynatrace Environment is reachable with.
* Saas Environments: `https://########.live.dynatrace.com`
* Managed Enviroments: `https://<dynatrace-host>/e/#####################`

The value of `DYNATRACE_API_TOKEN` needs to be an API Token with the following permissions:
 * **Read configuration** (`ReadConfig`)
     * Required for reading API v1 configuration.
 * **Write configuration** (`WriteConfig`)
     * Required for creating API v1 configuration.
 * **Read settings** (`settings.read`)
     * Required for reading Settings 2.0 configuration.
 * **Write settings** (`settings.write`) (API v2)
     * Required for modifying Settings 2.0 configuration.
 * **Create and read synthetic monitors, locations, and nodes** (`ExternalSyntheticIntegration`)
     * Required for reading and creating synthetic configuration.
 * **Capture request data** (`CaptureRequestData`)
     * Required for configuring request attributes.
 * **Read credential vault entries** (`credentialVault.read`)
     * Required for reading credentials.
 * **Write credential vault entries** (`credentialVault.write`)
     * Required for writing credentials.
 * **Read network zones** (`networkZones.read`)
     * Required for reading network zones.
 * **Write network zones** (`networkZones.write`)
     * Required for writing network zones.
 * **Read security problems** (`securityProblems.read`)
     * Required for reading security configuration.
 * **Write security problems** (`securityProblems.write`)
     * Required for writing security configuration.
 * **Read attacks** (`attacks.read`)
     * Required for reading attack security configuration.
 * **Write attacks** (`attacks.write`)
     * Required for writing attack security configuration.

Alternatively - but not recommended for security reasons you can also add configuration options within your Terraform Module.

!> Specifying credentials for Dynatrace environments is considered highly problematic from a security standpoint. Especially in production environments the environment variables DYNATRACE_ENV_URL and DYNATRACE_API_TOKEN are the recommended way to go when it comes to configuring the Dynatrace Terraform Provider. There exists usually never a good reason to specify credentials inline.

```
provider "dynatrace" {
    dt_env_url    = "https://########.live.dynatrace.com"
    dt_api_token  = "################"
}
```

## Exporting existing configuration from a Dynatrace Environment
In addition to acting as a Terraform Provider Plugin, the executable `terraform-provider-dynatrace` (`terraform-provider-dynatrace.exe` on Windows) can be directly invoked.
The utility reaches out to the Dynatrace Environment specified by the command line arguments and fetches all currently supported configuration items. These results will then automatically get transformed into HCL (the configuration language to be used for `.tf` files) and places each configuration item into its own `.tf` file.

With release 1.15.0, a new and improved version of the export utility is now available with various improvements (outlined below).
* Data source references automatically generated in resources
* Data source blocks created for dependencies in data_source.tf file(s)
* Creation of all resources required based off of dependencies
* Resources organized in modules with preconfigured main.tf based on output
* Pre-populated providers.tf file in the parent folder and all modules
* Option to include ID as a commented line in generated resources
* Option to include/exclude specific resource IDs from export
* Ability to convert from HCL to JSON formatted files
 
Please provide any feedback of the export utility via [GitHub Issues](https://github.com/dynatrace-oss/terraform-provider-dynatrace/issues). 

**Export Utility documentation has been moved under Guides [here](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/guides/export-v2).**

{{ .SchemaMarkdown | trimspace }}