---
layout: ""
page_title: "Provider: Dynatrace"
description: |-
  The Dynatrace Terraform Provider provides resources to interact with the Dynatrace REST API.
---

# Dynatrace Terraform Provider

The Dynatrace Terraform Provider is used to interact with the resources supported by the Dynatrace REST API. The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to learn about the available resources and data sources. For additional information, refer to the official Dynatrace documentation on Terraform available [here](https://docs.dynatrace.com/docs/manage/configuration-as-code/terraform).

## Example

# Terraform 0.13+ uses the Terraform Registry:
```
terraform {
    required_providers {
        dynatrace = {
            version = "~> 1.0"
            source = "dynatrace-oss/dynatrace"
        }
    }
} 
```
## Configure the Dynatrace provider
The recommended approach is to configure the provider via environment variables.

Define `DYNATRACE_ENV_URL` for the Dynatrace environment URL.
* SaaS Environments: `https://########.live.dynatrace.com`
* Managed Enviroments: `https://<dynatrace-host>/e/#####################`

Define `DYNATRACE_API_TOKEN` as an access token with the following permissions.
 * **Read configuration** (`ReadConfig`)
     * Required for reading API v1 configuration.
 * **Write configuration** (`WriteConfig`)
     * Required for creating API v1 configuration.
 * **Read settings** (`settings.read`)
     * Required for reading Settings 2.0 configuration.
 * **Write settings** (`settings.write`) (API v2)
     * Required for modifying Settings 2.0 configuration.
 * **Create and read synthetic monitors, locations, and nodes** (`ExternalSyntheticIntegration`)
     * Required for reading and creating synthetic configuration.
 * **Capture request data** (`CaptureRequestData`)
     * Required for configuring request attributes.
 * **Read credential vault entries** (`credentialVault.read`)
     * Required for reading credentials.
 * **Write credential vault entries** (`credentialVault.write`)
     * Required for writing credentials.
 * **Read network zones** (`networkZones.read`)
     * Required for reading network zones.
 * **Write network zones** (`networkZones.write`)
     * Required for writing network zones.
 * **Read security problems** (`securityProblems.read`)
     * Required for reading security configuration.
 * **Write security problems** (`securityProblems.write`)
     * Required for writing security configuration.
 * **Read attacks** (`attacks.read`)
     * Required for reading attack security configuration.
 * **Write attacks** (`attacks.write`)
     * Required for writing attack security configuration.

Alternatively, you can also add configuration options within your Terraform module.

!> Configuring credentials within the provider block is not recommended due to security. The method of setting `DYNATRACE_ENV_URL` and `DYNATRACE_API_TOKEN` as environment variables is the recommended approach especially for production environments.

```
provider "dynatrace" {
    dt_env_url    = "https://########.live.dynatrace.com"
    dt_api_token  = "################"
}
```

-> Certain resources require an OAuth client for authentication (eg. automation, document, cluster, account management APIs), please refer to the resource specific pages for additional information.

## Exporting existing configuration from a Dynatrace environment
In addition to the out-of-the-box functionality of Terraform, the provider has the ability to be executed as a standalone executable to export an existing configuration from a Dynatrace environment. Refer to the [Export Utility](https://docs.dynatrace.com/docs/manage/configuration-as-code/terraform/guides/export-utility) page for more information.

{{ .SchemaMarkdown | trimspace }}