---
layout: ""
page_title: "dynatrace_aws_iam_external Data Source - terraform-provider-dynatrace"
description: |-
  The data source `dynatrace_aws_iam_external` covers queries for AWS IAM external ID
---

# dynatrace_aws_iam_external (Data Source)

The AWS IAM external data source allows the AWS IAM external ID to be retrieved.

## Example Usage

```terraform
data "dynatrace_aws_iam_external" "Test" {
}

resource "dynatrace_aws_credentials" "#name#" {
  label          = "#name#"
  partition_type = "AWS_CN"
  tagged_only    = true

  authentication_data {
    iam_role = "string",
    account_id = "string"
    external_id = data.dynatrace_aws_iam_external.Test.id
  }

  tags_to_monitor {
    name  = "string"
    value = "string"
  }
}

```

{{ .SchemaMarkdown | trimspace }}