---
layout: ""
page_title: "dynatrace_azure_credentials Data Source - terraform-provider-dynatrace"
description: |-
  The data source `dynatrace_azure_credentials` covers queries for Azure credentials
---

# dynatrace_azure_credentials (Data Source)

The `dynatrace_azure_credentials` data source allows the Azure credential ID to be retrieved by its label.

- `label` (String) - The label/name of the Azure credential

## Example Usage

```terraform
data "dynatrace_azure_credentials" "Example" {
  name = "Terraform Example"
}

output "id" {
  value = data.dynatrace_azure_credentials.Example.id
}

```

{{ .SchemaMarkdown | trimspace }}