---
layout: ""
page_title: "dynatrace_azure_supported_services Data Source - terraform-provider-dynatrace"
subcategory: "Credentials"
description: |-
  The data source `dynatrace_azure_supported_services` covers queries for Azure credentials supported services 
---

# dynatrace_azure_supported_services (Data Source)

The AWS supported service data source queries for a full list of all supported services.

## Example Usage

For an example of this data source, please refer to the [Resource Example Usage](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/resources/azure_service#resource-example-usage) of the dynatrace_azure_service resource.

{{ .SchemaMarkdown | trimspace }}