---
layout: ""
page_title: "dynatrace_documents Data Source - terraform-provider-dynatrace"
subcategory: "Documents"
description: |-
  The data source `dynatrace_documents` queries for documents
---

# dynatrace_documents (Data Source)

- `type` (String) The type of documents to query for. Leave empty if you want to query for all kinds of documents.

## Prerequisites

Using this resource requires an OAuth client to be configured within your account settings.
The scopes of the OAuth Client need to contain the permission to read documents (`document:documents:read`).

Finally the provider configuration requires the credentials for that OAuth Client.
The configuration section of your provider needs to look like this.
```terraform
provider "dynatrace" {
  dt_env_url   = "https://########.live.dynatrace.com/"  
  dt_api_token = "######.########################.################################################################"  

  # Usually not required. Terraform will deduct it if `dt_env_url` has been specified
  # automation_env_url = "https://########.apps.dynatrace.com/" 
  automation_client_id = "######.########"
  automation_client_secret = "######.########.################################################################"  
}
```
-> In order to handle credentials in a secure manner we recommend to use the environment variables `DYNATRACE_AUTOMATION_CLIENT_ID` and `DYNATRACE_AUTOMATION_CLIENT_SECRET` as an alternative.

## Example Usage

```terraform
data "dynatrace_documents" "all-dashboard-and-notebooks" {
}
data "dynatrace_documents" "all-dashboards" {
  type = "dashboard"
}
data "dynatrace_documents" "all-notebooks" {
  type = "notebook"
}
```

{{ .SchemaMarkdown | trimspace }}