---
layout: ""
page_title: "dynatrace_documents Data Source - terraform-provider-dynatrace"
subcategory: "Documents"
description: |-
  The data source `dynatrace_documents` queries for documents
---

# dynatrace_documents (Data Source)

-> **Dynatrace SaaS only**

-> To utilize this resource, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permission: **View documents** (`document:documents:read`).

- `type` (String) The type of documents to query for. Leave empty if you want to query for all kinds of documents.

## Example Usage

```terraform
data "dynatrace_documents" "all-dashboard-and-notebooks" {
}
data "dynatrace_documents" "all-dashboards" {
  type = "dashboard"
}
data "dynatrace_documents" "all-notebooks" {
  type = "notebook"
}
```

{{ .SchemaMarkdown | trimspace }}