---
layout: ""
page_title: "dynatrace_geo_cities Data Source - terraform-provider-dynatrace"
subcategory: "Real User Monitoring"
description: |-
  The data source `dynatrace_geo_cities` covers queries for cities and their codes based on country and region code
---

# dynatrace_geo_cities (Data Source)

The `dynatrace_geo_cities` data source retrieves the list of cities and their codes based on country and region code.

- `country_code` (String) - The ISO code of the required country
- `region_code` (String) - The code of the required region

Geographic regions API: GET regions of a country - https://docs.dynatrace.com/docs/shortlink/api-v2-rum-geographic-regions-get-regions-country

## Example Usage

```terraform
data "dynatrace_geo_cities" "Example" {
  country_code = "FR"
  region_code = "BRE"
}

output "Test" {
  value = data.dynatrace_geo_cities.Example
}

```

{{ .SchemaMarkdown | trimspace }}