---
layout: ""
page_title: "dynatrace_geo_regions Data Source - terraform-provider-dynatrace"
subcategory: "Real User Monitoring"
description: |-
  The data source `dynatrace_geo_regions` covers queries for regions and their codes based on country code
---

# dynatrace_geo_regions (Data Source)

The `dynatrace_geo_regions` data source retrieves the list of regions and their codes based on country code.

- `country_code` (String) - The ISO code of the required country

- Geographic regions API: GET regions of a country - https://docs.dynatrace.com/docs/shortlink/api-v2-rum-geographic-regions-get-regions-country

## Example Usage

```terraform
data "dynatrace_geo_regions" "Example" {
  country_code = "FR"
}

output "Test" {
  value = data.dynatrace_geo_regions.Example
}

```

{{ .SchemaMarkdown | trimspace }}