---
layout: ""
page_title: "dynatrace_host Data Source - terraform-provider-dynatrace"
description: |-
  The data source `dynatrace_host` covers queries for the ID of a host based on name and tags / tag-value pairs
---

# dynatrace_host (Data Source)

-> The data source API endpoint has been deprecated, please use [dynatrace_entity](https://registry.terraform.io/providers/dynatrace-oss/dynatrace/latest/docs/data-sources/entity) with entity type `HOST` instead.

The host data source allows the host ID to be retrieved by its name and optionally tags / tag-value pairs.

- `name` queries for all hosts with the specified name
- `tags` (optional) refers to the tags that need to be present for the host (inclusive)

If multiple hosts match the given criteria, the first result will be retrieved.

## Example Usage

```terraform
data "dynatrace_host" "Test" {
  name = "Example"
  tags = ["TerraformKeyTest","TerraformKeyValueTest=TestValue"]
}

resource "dynatrace_management_zone" "#name#" {
  name = "#name#" 
  entity_selector_based_rule {
    enabled = true 
    selector = "type(\"host\"),entityId(\"${data.dynatrace_host.Test.id}\")"
  }
}
```

{{ .SchemaMarkdown | trimspace }}