---
layout: ""
page_title: "dynatrace_platform_slo_template Data Source - terraform-provider-dynatrace"
subcategory: "Service-level Objective"
description: |-
  The data source `dynatrace_platform_slo_template` covers queries for the ID of a SLO objective template based on name
---

# dynatrace_platform_slo_template (Data Source)

-> To utilize this data source, please define the environment variables `DT_CLIENT_ID`, `DT_CLIENT_SECRET`, `DT_ACCOUNT_ID` with an OAuth client including the following permissions: **View SLOs** (`slo:slos:read`) and **View SLO objective templates** (`slo:objective-templates:read`).

The SLO objective template data source allows the ID to be retrieved by its name.

- `name` (String) Name of the SLO objective template

## Example Usage

```terraform
data "dynatrace_platform_slo_template" "HostCPU" {
  name = "Host CPU usage utilization"
}

resource "dynatrace_platform_slo" "#name#" {
  name        = "#name#"
  description = "Measures the CPU usage of selected hosts over time."
  criteria {
    criteria_detail {
      target         = 95
      timeframe_from = "now-7d"
      timeframe_to   = "now"
    }
  }
  sli_reference {
    template_id = data.dynatrace_platform_slo_template.HostCPU.id
    variables {
      sli_reference_variable {
        name  = "hosts"
        value = "\"HOST-1234567890000000\""
      }
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}