---
layout: ""
page_title: "dynatrace_process Data Source - terraform-provider-dynatrace"
description: |-
  The data source `dynatrace_process` covers queries for the ID of a process based on name and tags / tag-value pairs
---

# dynatrace_process (Data Source)

The process data source allows the process ID to be retrieved by its name and optionally tags / tag-value pairs.

- `name` queries for all processes with the specified name
- `tags` (optional) refers to the tags that need to be present for the process (inclusive)

If multiple processes match the given criteria, the first result will be retrieved.

## Example Usage

```
data "dynatrace_process" "Test" {
  name = "Example"
  tags = ["TerraformKeyTest","TerraformKeyValueTest=TestValue"]
}

resource "dynatrace_management_zone" "#name#" {
  name = "#name#" 
  entity_selector_based_rule {
    enabled = true 
    selector = "type(\"process_group_instance\"),entityId(\"${data.dynatrace_process.Test.id}\")"
  }
}
```

{{ .SchemaMarkdown | trimspace }}