---
layout: ""
page_title: "dynatrace_request_naming Data Source - terraform-provider-dynatrace"
description: |-
  The data source `dynatrace_request_naming` covers queries for request naming rules
---

# dynatrace_request_naming (Data Source)

The `dynatrace_request_naming` data source allows the request naming rule ID to be retrieved by its name.

- `name` (String) - The name to be assigned to matching requests.

If multiple services match the given criteria, the first result will be retrieved.

## Example Usage

```terraform
data "dynatrace_request_naming" "Example" {
  name = "Terraform Example"
}

output "id" {
  value = data.dynatrace_request_naming.Example.id
}

```

{{ .SchemaMarkdown | trimspace }}