---
layout: ""
page_title: "dynatrace_service Data Source - terraform-provider-dynatrace"
description: |-
  The resource `dynatrace_service` covers queries for the ID of Topology Services based on name and tags / tag-value pairs
---

# dynatrace_service (Data Source)

This is an example for how to utilize the Data Source `dynatrace_service`.
If the property `name` queries for all services with the given name.
If the property `tags` refers to the tags that need to be defined for the Service to find. In this example the Service needs to have a tag with name `TerraformKeyTest` applied AND a tag `TerraformKeyValueTest` with the value `TestValue`. BOTH tags need to be present.
In case multiple Services are matching the given criteria, the first one found will be chosen.

```
data "dynatrace_service" "Test" {
  name = "Requests executed in background threads of Code*Service.exe"
  tags = ["TerraformKeyTest","TerraformKeyValueTest=TestValue"]
}
```

The ID of the resolved Toplogy Service can now be referred to within any resource.

```
resource "dynatrace_key_requests" "TerraformTest" {
  service = data.dynatrace_service.Test.id
}
```

{{ .SchemaMarkdown | trimspace }}