name: Tests
on:
  push:
    branches:
      - '**'
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639 # 4.2.1
        with:
          go-version: '1.22'

      - name: Check out source code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # 4.3.0

      - name: Run Unit Tests
        env:
          GOPROXY: "https://proxy.golang.org"
        run: go test -tags=unit -v ./...

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639 # 4.2.1
        with:
          go-version: '1.22'

      - name: Check out source code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # 4.3.0

      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1
        with:
          terraform_wrapper: false

      - name: Run Integration Tests
        if: success() || failure()
        env:
          GOPROXY: "https://proxy.golang.org"
          TF_ACC: "true"
          DYNATRACE_DEBUG: "true"
          DYNATRACE_HTTP_OAUTH_PREFERENCE: "true"
          DT_NO_REPAIR_INPUT: "false"
          DYNATRACE_ENV_URL: ${{ secrets.DYNATRACE_ENV_URL }}
          DYNATRACE_API_TOKEN: ${{ secrets.DYNATRACE_API_TOKEN }}
          DT_CLIENT_ID: ${{ secrets.DT_CLIENT_ID }}
          DT_CLIENT_SECRET: ${{ secrets.DT_CLIENT_SECRET }}
          DT_ACCOUNT_ID: ${{ secrets.DT_ACCOUNT_ID }}
        run: go test -tags=integration -v ./...
